# Get these from Twitter console: https://console.x.com
X_ACCESS_TOKEN=
X_ACCESS_TOKEN_SECRET=
X_API_KEY=
X_API_SECRET=

# Neon DB Connection string
DATABASE_URL=

# Get this from https://console.x.ai
XAI_API_KEY=
CRON_SECRET=